Repository 302ai/302-ai-studio-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, prettier, eslint, sort-messages

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "pnpm-lock.yaml"
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: svelte-check
        name: svelte-check
        entry: bash -c 'cd packages/svelte-app && pnpm exec svelte-check --no-tsconfig --ignore "src/lib/paraglide" "$@"' --
        language: system
        files: ^packages/svelte-app/.*\.(svelte)$

      - id: prettier
        name: prettier
        entry: bash -c 'pnpm exec prettier --write "$@"' --
        language: system
        files: \.(js|ts|svelte|json|yaml|yml|html|css|scss)$
        exclude: '^(pnpm-lock\.yaml|.*\.lock|packages/svelte-app/src/lib/paraglide/.*|.*\.svelte-kit/.*|.*/build/.*|.*/dist/.*|.*/out/.*|.*\.turbo/.*|\.changeset/.*|\.DS_Store|node_modules/.*|patches/.*)$'

      - id: eslint
        name: eslint
        entry: bash -c 'pnpm exec eslint --fix "$@"' --
        language: system
        files: \.(js|ts|svelte)$
        exclude: '^(packages/svelte-app/src/lib/paraglide/.*|.*\.svelte-kit/.*|.*/build/.*|.*/dist/.*|.*/out/.*|.*\.turbo/.*|\.changeset/.*|node_modules/.*|patches/.*)$'

      - id: sort-messages
        name: sort-messages
        entry: bash -c 'cd packages/svelte-app && node scripts/sort-messages.js'
        language: system
        files: ^packages/svelte-app/messages/.*\.json$

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            --strict,
            --force-scope,
            feat,
            fix,
            docs,
            style,
            refactor,
            test,
            chore,
            perf,
            ci,
            build,
            revert,
          ]

feat(deps): add electron dependency to workspace root
  package.json
  pnpm-lock.yaml
Due: prettier

feat(ui): implement frameless window with custom window controls
  app/electron/src/main/index.ts
  app/electron/src/preload/index.ts
  packages/svelte-app/src/app.d.ts
  packages/svelte-app/src/lib/components/buss/tab-bar/tab-bar.svelte
  packages/svelte-app/src/lib/components/buss/window-controls/index.ts
  packages/svelte-app/src/lib/components/buss/window-controls/window-controls.svelte
Due: svelte-check, prettier, eslint

fix(build): enhance electron-builder configuration for cross-platform builds
  app/electron/package.json
Due: prettier

fix: root
  packages/svelte-app/src/lib/components/buss/tab-bar/tab-bar.svelte
  packages/svelte-app/src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

style(config): fix ESLint paths and apply formatting fixes
  eslint.config.js
  package.json
  svelte-app/src/lib/components/buss/tab-bar/tab-bar.svelte
  svelte-app/src/lib/components/buss/window-controls/index.ts
  svelte-app/src/lib/components/buss/window-controls/window-controls.svelte
Due: prettier, eslint
